<%- include('navbar.ejs')%>

<div class="card card-body rounded-0 p-3 shadow">
    <form action="/admin/update_insta_img" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h3>Edit Image</h3></div>
                <input type="hidden" name="insta_img_id" value="<%-insta_img.insta_img_id%>">
                <div class="col-md-2 mt-3">
                    <img src="/user/images/instagram/<%-insta_img.insta_image%>" class="w-50">
                </div>
                <div class="col-md-4">
                    <label>Select Image</label>
                    <input type="file" class="form-control" name="insta_image">
                </div>
                <div class="col-md-6 mt-4 text-end">
                    <button class="btn btn-warning">Update Image</button>
                </div>
            </div>
        </div>
    </form>


</div>


<%- include('footer.ejs')%>