</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer fixed-bottom p-1  bg-white">
  <div class="col-md-12 text-center copyright">
    <p>	&#169; Hydra Interior. All Rights Reserved  Design by <a href="https://www.a2zithub.org/" target="_blank">A2Z IT HUB PVT LTD</a></p>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/admin/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin/vendor/chart.js/chart.umd.js"></script>
<script src="/admin/vendor/echarts/echarts.min.js"></script>
<script src="/admin/vendor/quill/quill.js"></script>
<script src="/admin/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/admin/vendor/tinymce/tinymce.min.js"></script>
<script src="/admin/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="/admin/js/main.js"></script>



  <!-- <script>
  CKEDITOR.replace('editor', {
    skin: 'moono',
    enterMode: CKEDITOR.ENTER_BR,
    shiftEnterMode:CKEDITOR.ENTER_P,
    toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
               { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
               { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
               { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
               { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
               { name: 'links', items: [ 'Link', 'Unlink' ] },
               { name: 'insert', items: [ 'Image'] },
               { name: 'spell', items: [ 'jQuerySpellChecker' ] },
               { name: 'table', items: [ 'Table' ] }
               ],
  });
  </script> -->

</body>

</html>