<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Varad Interiors</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/admin/img/favicon.png" rel="icon"> -->
  <!-- <link href="/admin/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/admin/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/admin/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/admin/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/admin/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/admin/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nice/Admin
  * Template URL: https://bootstrapmade.com/nice-/admin-bootstrap-/admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <script src="https://kit.fontawesome.com/00aea3e468.js" crossorigin="anonymous"></script>

  <!-- ck editor -->
  <script src="https://cdn.ckeditor.com/ckeditor5/12.3.0/classic/ckeditor.js"></script>

  <!-- <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script> -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn"></i>
      <a href="/admin" class="logo d-flex align-items-center mx-3">
        <!-- <img src="/admin/img/logo.png" alt=""> -->
        <span class="d-none d-lg-block">Varad Interiors</span>
      </a>
      
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/uploads/<%=adata.admin_img%>"  alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2"><%=adata.admin_name%></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6><%=adata.admin_name%></h6>
            </li>
            <li>  
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/admin_profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

           



            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#aboutus" data-bs-toggle="collapse" href="#">
          <i class="bi bi-house-door"></i><span>Home  Page</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="aboutus" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/slider">
              <i class="fa-solid fa-sliders"></i>Slider Section</a>
          </li>
          <li>
            <a href="/admin/update_about_us">
              <i class="bi bi-pencil-square fs-6"></i><span>Update About Us</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#how_we_work" data-bs-toggle="collapse" href="#">
              <i class="bi bi-gem fs-6"></i><span>How We Work</span><i class="bi bi-chevron-down ms-auto fs-6"></i>
            </a>
            <ul id="how_we_work" class="nav-content collapse " data-bs-parent="#homepage">
              <li>
                <a href="/admin/change_heading">
                  <i class="bi bi-pencil-square fs-6"></i><span>Update Heading</span>
                </a>
              </li>
              <li>
                <a href="/admin/add_work_steps">
                  <i class="bi bi-plus-square fs-6"></i></i><span>Add Work Step</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/admin/add_our_project">
              <i class="bi bi-plus-square-fill fs-6"></i><span>Add Our Project</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#testimonials" data-bs-toggle="collapse" href="#">
              <i class="bi bi-gem fs-6"></i><span>Testimonial</span><i class="bi bi-chevron-down ms-auto fs-6"></i>
            </a>
            <ul id="testimonials" class="nav-content collapse " data-bs-parent="#homepage">
              <li>
                <a href="/admin/testiomial">
                  <i class="bi bi-pencil-square fs-6"></i><span>Update Testiomial Description</span>
                </a>
              </li>
              <li>
                <a href="/admin/testiomial1">
                  <i class="bi bi-pencil-square fs-6"></i><span>Update Client 1</span>
                </a>
              </li>
              <li>
                <a href="/admin/testiomial2">
                  <i class="bi bi-pencil-square fs-6"></i><span>Update Client 2</span>
                </a>
              </li>
              <li>
                <a href="/admin/testiomial3">
                  <i class="bi bi-pencil-square fs-6"></i><span>Update Client 3</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/counter">Counter Section</a>
          </li>
        </ul>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#aboutpage" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark"></i><span>About Page</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="aboutpage" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/update_about_us_info">
              <i class="bi bi-pencil-square fs-6"></i></i><span>Update About Us</span>
            </a>
          </li>
          <li>
            <a href="/admin/update_mission_vission_info">
              <i class="bi bi-pencil-square fs-6"></i></i><span>Update Info  Mission Vission</span>
            </a>
          </li>
          <li>
            <a href="/admin/update_mission_vission_img">
              <i class="bi bi-pencil-square fs-6"></i></i><span>Update Img  Mission Vission</span>
            </a>
          </li>

          <li>
            <a href="/admin/team_member">
              <i class="fa-solid fa-user-plus fs-6"></i></i><span>Team Member</span>
            </a>
          </li>

          
        </ul>
      </li>






      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#blogpage" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-book"></i><span>blog Page</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="blogpage" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/add_blog_cat">
              <i class="bi bi-plus-square fs-6"></i></i><span>Add Blog Category</span>
            </a>
          </li>
          <li>
            <a href="/admin/add_blog">
              <i class="bi bi-plus-square fs-6"></i><span>Add Blog</span>
            </a>
          </li>
          <li>
            <a href="/admin/add_news">
              <i class="bi bi-plus-square fs-6"></i><span>Add News</span>
            </a>
          </li>
          <li>
            <a href="/admin/add_instagram_images">
              <i class="bi bi-plus-square fs-6"></i><span>Add Instagram Images</span>
            </a>
          </li>
        </ul>
      </li>





      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#gallery" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-images"></i><span>Gallery Page</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="gallery" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
                      <a class="nav-link" href="/admin/gallery">Gallery Page</a>
                    </li>

         

        </ul>
      </li>



      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#project" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-layer-group"></i><span>Project Page</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="project" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
                      <a class="nav-link" href="/admin/project">Project Page</a>
                    </li>

         

        </ul>
      </li>



      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#service" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-screwdriver-wrench"></i><span>Service Page</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="service" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
                      <a class="nav-link" href="/admin/service">
                        <i class="bi bi-pencil-square fs-6"></i></i>Update Service Page
                      </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/admin/service_enq">Service Enq Page</a>
                    </li>

         

        </ul>
      </li>









      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#contact" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-address-card"></i><span>Contact Page</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="contact" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
                      <a class="nav-link" href="/admin/contact">
                        <i class="fa-solid fa-address-card fs-6"></i>Contact Page</a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/contact_enq">
                        <i class="fa-solid fa-phone-volume fs-6"></i></i>Enquiries</a>
                    </li>
         

        </ul>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#faq" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-question"></i><span>FAQ's Page</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="faq" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
                      <a class="nav-link" href="/admin/faq">
                        <i class="fa-solid fa-question fs-6"></i>FAQ's Page</a>
                    </li>

                   
         

        </ul>
      </li>










    </ul>

  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">

 